body {
    margin: 0;
    padding: 0;
    background-color: #106396;
}
form {
    width: 300px;
    margin: 100px auto 0 auto;
    padding: 20px;
    box-shadow: 2px 4px 8px 0 #61a3e4;
    color: white;
}
h1 {
    text-align: center;
}
.box1 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #30475e;
}
 
.btn {
    width: 49%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #30475e;
    font-size: 18px;
 
}
.btn:hover {
    background-color: #8caccd;
}